$breakpoint:(
    sp-s:"only screen and (max-width:649px)",
    sp-l:"only screen and (max-width:768px)",
    tb-s:"only screen and (max-width:991px)",
    tb-l:"only screen and (max-width:1199px)"
);

@mixin media ($device) {
    @media #{map-get($breakpoint,$device)} {
        @content;
    }
}

/*
@include media ("tb") {
    width:100%;
}
*/