@charset "UTF-8";
/*マップ
width:map-get($width,contents);
*/
/*
background:url("/img/header_001.png")no-repeat center;
*/
/*
@include media ("tb") {
    width:100%;
}
*/
/*CONTENTS設計
@include contentsWidth(600px,sp-s);
@include smpWidth100Ratio(sp-s);
@include contentsHeight(auto);
@include contentsMargin(60px,90px);
@include contentsPadding(60px,90px,30px);
*/
/*文字省略
@include ellipsis;
*/
/*table-style
@include table-style(200px,#fff,1px);
*/
/*title-font-size
@include h-font-size(1.5rem,1.2rem,70px,40px);
*/
/*arrowを追加する
  @include linkArrow("right");
  @include menuArrow();
*/
/*input-height
@include input-height;
*/
/*ボタンを作成する
.my-submit-button {
  @include submit-button($next-btn-color, #fff);
}
*/
/*input
@include input-text;
@include input-textarea;
*/
/*googleFont-Fredericka
@include googleFont-Shippori;
*/
/*
バックグラウンドカラーを追加
@include backGroundColor(#fff, 1);
テキストシャドウを追加
@include textShadow(#fff, 1);
ボックスシャドウを追加
@include boxShadow(#ac984e, 1);
*/
/*グラデーション生成
.gradient-box {
    @include gradient(#f0f, #0ff);
  }
*/
/*フレキシブルボックス作成
.flex-container {
@include flexbox(column, space-around, center);
}
*/
/*
@include baseWidth(600px);
@include baseHeight;
@include basePadding(60px,50px);
@include baseMargin(60px,90px);
*/
form {
  margin: 0;
  width: 100%;
}

.--location {
  background-color: #d7c09f !important;
}

.prev-btn {
  font-size: 12px;
  text-align: center;
  display: inline-block;
  color: #595757;
  position: relative;
  margin: 60px auto;
}
.prev-btn::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -2.5px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
}

.material-symbols-outlined {
  margin-right: 8px;
  font-size: 28px;
}

.pankuzuList {
  margin: 15px auto;
  padding: 0 25px;
}
@media only screen and (max-width:649px) {
  .pankuzuList {
    padding: 0 2%;
  }
}
.pankuzuList span {
  color: #595757;
  position: relative;
  margin-right: 35px;
  font-size: 12px;
}
@media only screen and (max-width:649px) {
  .pankuzuList span {
    margin-right: 25px;
  }
}
.pankuzuList span:first-of-type::before {
  content: "";
  right: -32px;
  top: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
  margin: auto 0.8rem;
  flex-shrink: 0;
}
@media only screen and (max-width:649px) {
  .pankuzuList span:first-of-type::before {
    right: -28px;
  }
}
.pankuzuList span:last-of-type {
  margin: 0;
  color: #677e98;
}

.smp-menu {
  display: none;
}

.ps-s--on {
  display: none;
}
@media only screen and (max-width:649px) {
  .ps-s--on {
    display: block;
  }
}

@media only screen and (max-width:768px) {
  .ps-l--off {
    display: none !important;
  }
}

.pagenavi__num {
  font-size: 12px;
  padding: 0;
  margin-bottom: 5px;
}

@media only screen and (max-width:649px) {
  .smp_footer_div {
    background-color: transparent;
  }
  .smp_footer_div p {
    font-size: 10px;
  }
}
.stickyStyle {
  width: 100%;
}
.stickyStyle__inner {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner {
    width: 100%;
  }
}
.stickyStyle__inner-left {
  position: sticky;
  top: 115px;
  width: 300px;
  height: 760px;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-left {
    display: none;
  }
}
.stickyStyle__inner-left .left-pankuzuList {
  margin: 0 auto 20px;
  padding: 0 25px;
}
.stickyStyle__inner-left .left-pankuzuList span {
  color: #595757;
  position: relative;
  margin-right: 35px;
  font-size: 12px;
}
.stickyStyle__inner-left .left-pankuzuList span:first-of-type::before {
  content: "";
  right: -30px;
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
  margin: 5px 0.8rem 2px;
  flex-shrink: 0;
}
.stickyStyle__inner-left .left-pankuzuList span:last-of-type {
  margin: 0;
}
.stickyStyle__inner-left .left-inner {
  width: 300px;
  height: auto;
}
.stickyStyle__inner-left .left-inner ul {
  margin: 0;
}
.stickyStyle__inner-left .left-inner ul li {
  border-bottom: solid 1px #ddd;
  background-color: #fff;
  list-style: none;
}
.stickyStyle__inner-left .left-inner ul li a {
  padding: 15px 25px;
  font-size: 14px;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
}
.stickyStyle__inner-left .left-inner ul li a::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2.5px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
}
.stickyStyle__inner-left .left-inner .--active {
  background-color: #f6f1ea;
}
.stickyStyle__inner-right {
  width: 900px;
  height: auto;
  min-height: 800px;
  padding: 30px 4%;
  background-color: #fff;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right {
    width: 960px;
    margin: 0 auto;
  }
  .stickyStyle__inner-right .smp-menu {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .stickyStyle__inner-right .smp-menu::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #595757;
    border-right: 1px solid #595757;
    transform: rotate(135deg);
    margin: 2px;
    z-index: 1;
  }
  .stickyStyle__inner-right .smp-menu select {
    background: #fff;
    background-image: none;
    border: 1px solid #ac984e;
    box-shadow: none;
    appearance: none;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding: 0 30px 0 10px;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
    outline: none;
    font-size: 14px;
    border-radius: 3px;
  }
}
@media only screen and (max-width:991px) {
  .stickyStyle__inner-right {
    width: 100%;
    padding-bottom: 0;
  }
}
.stickyStyle__inner-right .right-inner {
  width: 800px;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right .right-inner {
    width: 100%;
  }
}
.stickyStyle__inner-right .right-inner h1 {
  border-bottom: 1px solid #ddd;
  font-size: 1.75rem;
  height: 70px;
  line-height: 70px;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner h1 {
    font-size: 1.5rem;
    height: 50px;
    line-height: 50px;
  }
}
.stickyStyle__inner-right .right-inner h2 {
  font-size: 1.5rem;
  height: 70px;
  line-height: 70px;
  text-indent: 20px;
  position: relative;
  margin: 24px 0 20px;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner h2 {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner h2 {
    text-indent: 0;
  }
}
.stickyStyle__inner-right .right-inner h2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 4px;
  height: 30px;
  background-color: #ac984e;
}
.stickyStyle__inner-right .right-inner li {
  color: #595757;
  line-height: 1.8;
}
.stickyStyle__inner-right .right-inner table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  margin-top: 30px;
}
.stickyStyle__inner-right .right-inner table th {
  padding: 30px 0px 30px 26px;
  font-size: 14px;
  width: 200px;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner table th {
    width: 120px;
    padding: 20px 10px 20px 4px;
  }
}
.stickyStyle__inner-right .right-inner table td {
  padding: 30px 26px 30px 0px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner table td {
    padding: 20px 0;
  }
}
.stickyStyle__inner-right .right-inner table tr:nth-child(odd) th, .stickyStyle__inner-right .right-inner table tr:nth-child(odd) td {
  background-color: #fff;
}
.stickyStyle__inner-right .right-inner h3 {
  font-size: 1.2rem;
  height: auto;
  line-height: auto;
  margin: 10px auto;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner h3 {
    font-size: 1.2rem;
    height: auto;
    line-height: auto;
  }
}
.stickyStyle__inner-right .right-inner .contact-info {
  font-size: 14px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 2%;
}
.stickyStyle__inner-right .right-inner .contact-form {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 30px;
}
.stickyStyle__inner-right .right-inner .contact-form th {
  padding: 30px 0px 30px 26px;
  font-size: 14px;
  width: 200px;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner .contact-form th {
    width: 120px;
    padding: 20px 10px 20px 4px;
  }
}
.stickyStyle__inner-right .right-inner .contact-form td {
  padding: 30px 26px 30px 0px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner .contact-form td {
    padding: 20px 0;
  }
}
.stickyStyle__inner-right .right-inner .contact-form tr:nth-child(odd) th, .stickyStyle__inner-right .right-inner .contact-form tr:nth-child(odd) td {
  background-color: #f7f8f8;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner .contact-form tr:nth-child(odd) th, .stickyStyle__inner-right .right-inner .contact-form tr:nth-child(odd) td {
    background-color: #fff;
  }
}
.stickyStyle__inner-right .right-inner .contact-form input[type=text] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner .contact-form input[type=text] {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right .right-inner .contact-form input[type=text] {
    border: 1px solid #d7c09f;
  }
}
.stickyStyle__inner-right .right-inner .contact-form input[type=text]:hover {
  opacity: 0.9;
}
.stickyStyle__inner-right .right-inner .contact-form textarea {
  width: 100%;
  height: 220px !important;
  border-radius: 3px;
  border: solid 0.5px #ddd;
  padding: 12px;
  overflow-y: scroll;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right .right-inner .contact-form textarea {
    border: 1px solid #d7c09f;
  }
}
.stickyStyle__inner-right .right-inner .contact-form textarea:hover {
  opacity: 0.9;
}
.stickyStyle__inner-right .right-inner input[type=button], .stickyStyle__inner-right .right-inner input[type=submit] {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #79698a;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner input[type=button], .stickyStyle__inner-right .right-inner input[type=submit] {
    height: 46px;
    line-height: 46px;
  }
}
.stickyStyle__inner-right .right-inner input[type=button]:hover, .stickyStyle__inner-right .right-inner input[type=submit]:hover {
  background-color: #9384a2;
}
.stickyStyle__inner-right .right-inner input[type=button]:active, .stickyStyle__inner-right .right-inner input[type=submit]:active {
  background-color: #60536d;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right .right-inner input[type=button], .stickyStyle__inner-right .right-inner input[type=submit] {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  .stickyStyle__inner-right .right-inner input[type=button], .stickyStyle__inner-right .right-inner input[type=submit] {
    width: 100%;
  }
}
.stickyStyle__inner-right .right-inner .prev-submit-btn {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #b0a6bb;
  display: block;
  margin: 0 auto 60px;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner .prev-submit-btn {
    height: 46px;
    line-height: 46px;
  }
}
.stickyStyle__inner-right .right-inner .prev-submit-btn:hover {
  background-color: #cac3d1;
}
.stickyStyle__inner-right .right-inner .prev-submit-btn:active {
  background-color: #9689a5;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right .right-inner .prev-submit-btn {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  .stickyStyle__inner-right .right-inner .prev-submit-btn {
    width: 100%;
  }
}
.stickyStyle__inner-right .right-inner .top-submit-btn {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #232323;
  display: block;
  margin: 40px auto 60px;
}
@media only screen and (max-width:649px) {
  .stickyStyle__inner-right .right-inner .top-submit-btn {
    height: 46px;
    line-height: 46px;
  }
}
.stickyStyle__inner-right .right-inner .top-submit-btn:hover {
  background-color: #3d3d3d;
}
.stickyStyle__inner-right .right-inner .top-submit-btn:active {
  background-color: #0a0a0a;
}
@media only screen and (max-width:1199px) {
  .stickyStyle__inner-right .right-inner .top-submit-btn {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  .stickyStyle__inner-right .right-inner .top-submit-btn {
    width: 100%;
  }
}

#login .login {
  width: 600px;
  height: auto;
  margin: 60px auto 90px;
  padding: 60px 50px;
  box-shadow: 0px 0px 10px rgba(172, 152, 78, 0.4);
  border-radius: 6px;
  background-color: white;
}
@media only screen and (max-width:649px) {
  #login .login {
    width: 100%;
  }
}
@media only screen and (max-width:649px) {
  #login .login {
    height: 100vh;
  }
}
@media only screen and (max-width:649px) {
  #login .login {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #login .login {
    padding: 40px 4%;
  }
}
#login .login__heading {
  text-align: center;
  font-size: 14px;
  letter-spacing: 2;
  margin: 0 auto;
  color: #232323;
}
#login .login__heading-logo {
  font-size: 40px;
  font-weight: 400;
  font-family: "Fredericka the Great", cursive;
  display: inline-block;
  padding-bottom: 14px;
  color: #232323;
}
#login .login__inputs {
  width: 350px;
  margin: 0 auto;
}
@media only screen and (max-width:649px) {
  #login .login__inputs {
    width: 100%;
  }
}
#login .login__inputs-mail {
  margin: 30px auto 0;
  width: 100%;
}
#login .login__inputs-mail .input-title {
  font-size: 12px;
  color: #677e98;
  margin-bottom: 5px;
  font-weight: bold;
}
#login .login__inputs-mail input[type=text] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px;
}
@media only screen and (max-width:649px) {
  #login .login__inputs-mail input[type=text] {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width:1199px) {
  #login .login__inputs-mail input[type=text] {
    border: 1px solid #d7c09f;
  }
}
#login .login__inputs-mail input[type=text]:hover {
  opacity: 0.9;
}
#login .login__inputs-password {
  margin: 20px auto 0;
  width: 100%;
}
#login .login__inputs-password .input-password {
  font-size: 12px;
  color: #677e98;
  margin-bottom: 5px;
  font-weight: bold;
}
#login .login__inputs-password input[type=password] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px;
}
@media only screen and (max-width:649px) {
  #login .login__inputs-password input[type=password] {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width:1199px) {
  #login .login__inputs-password input[type=password] {
    border: 1px solid #d7c09f;
  }
}
#login .login__inputs-password input[type=password]:hover {
  opacity: 0.9;
}
#login .login__inputs-password .input-recovery {
  font-size: 12px;
  color: #677e98;
  margin-bottom: 5px;
}
#login .login__inputs-password .input-recovery a {
  font-size: 10px;
}
#login .login__inputs-login {
  margin: 30px auto 0;
  width: 100%;
}
#login .login__inputs-login input[type=submit] {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #93bace;
  margin-top: 40px;
}
@media only screen and (max-width:649px) {
  #login .login__inputs-login input[type=submit] {
    height: 46px;
    line-height: 46px;
  }
}
#login .login__inputs-login input[type=submit]:hover {
  background-color: #b6d0de;
}
#login .login__inputs-login input[type=submit]:active {
  background-color: #70a4be;
}
@media only screen and (max-width:1199px) {
  #login .login__inputs-login input[type=submit] {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #login .login__inputs-login input[type=submit] {
    width: 100%;
  }
}
#login .login__inputs-login .input-keep {
  font-size: 14px;
  color: #595757;
}
#login .login__inputs-login .input-keep input[type=checkbox] {
  margin-right: 8px;
}
#login .login__inputs-login .input-keep p.login_keep label {
  font-size: 12px;
  position: relative;
  top: -2px;
}
#login .login__inputs-login .input-recovery {
  font-size: 12px;
  color: #677e98;
  margin-bottom: 5px;
}
#login .login__inputs-login .input-recovery a {
  font-size: 10px;
}
#login .login__links {
  margin-top: 50px;
}
#login .login__links .is-member {
  font-size: 13px;
  color: #595757;
  width: 100%;
  text-align: center;
}
#login .login__links a {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #677e98;
}

#reminder .reminder {
  height: auto;
  padding: 60px 50px;
}
@media only screen and (max-width:649px) {
  #reminder .reminder {
    height: 100vh;
  }
}
@media only screen and (max-width:649px) {
  #reminder .reminder {
    padding: 40px 4%;
  }
}
#reminder .reminder__logo {
  width: 60px;
  margin: 0 auto;
}
#reminder .reminder__title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2;
  margin: 0 auto;
  color: #232323;
}
#reminder .reminder__inputs {
  width: 600px;
  height: auto;
  margin: 30px auto 60px;
  padding: 30px 50px;
  box-shadow: 0px 0px 10px rgba(172, 152, 78, 0.4);
  background-color: white;
  border-radius: 6px;
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs {
    width: 100%;
  }
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs {
    height: auto;
  }
}
@media only screen and (max-width:768px) {
  #reminder .reminder__inputs {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs {
    padding: 0 2%;
  }
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs {
    box-shadow: none;
  }
}
#reminder .reminder__inputs-description {
  font-size: 14px;
}
#reminder .reminder__inputs-info {
  font-size: 12px;
  color: #677e98;
  margin: 30px 0 5px;
  font-weight: bold;
}
#reminder .reminder__inputs input[type=text] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  margin-bottom: 50px;
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs input[type=text] {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width:1199px) {
  #reminder .reminder__inputs input[type=text] {
    border: 1px solid #d7c09f;
  }
}
#reminder .reminder__inputs input[type=text]:hover {
  opacity: 0.9;
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs input[type=text] {
    margin-bottom: 40px;
  }
}
#reminder .reminder__inputs input[type=submit] {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #79698a;
  margin-top: 0;
}
@media only screen and (max-width:649px) {
  #reminder .reminder__inputs input[type=submit] {
    height: 46px;
    line-height: 46px;
  }
}
#reminder .reminder__inputs input[type=submit]:hover {
  background-color: #9384a2;
}
#reminder .reminder__inputs input[type=submit]:active {
  background-color: #60536d;
}
@media only screen and (max-width:1199px) {
  #reminder .reminder__inputs input[type=submit] {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #reminder .reminder__inputs input[type=submit] {
    width: 100%;
  }
}

#regist .regist {
  height: auto;
  padding: 60px 50px;
}
@media only screen and (max-width:649px) {
  #regist .regist {
    height: auto;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist {
    padding: 40px 4%;
  }
}
#regist .regist__logo {
  width: 60px;
  margin: 0 auto;
}
#regist .regist__title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2;
  margin: 0 auto;
  color: #232323;
}
#regist .regist__inputs {
  width: 600px;
  height: auto;
  margin: 30px auto 60px;
  padding: 30px 50px;
  box-shadow: 0px 0px 10px rgba(172, 152, 78, 0.4);
  background-color: white;
  border-radius: 6px;
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs {
    width: 100%;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs {
    height: auto;
  }
}
@media only screen and (max-width:768px) {
  #regist .regist__inputs {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs {
    padding: 0 2%;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs {
    box-shadow: none;
  }
}
#regist .regist__inputs-description {
  font-size: 14px;
}
#regist .regist__inputs-info {
  font-size: 12px;
  color: #677e98;
  margin: 30px 0 5px;
  font-weight: bold;
}
#regist .regist__inputs-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#regist .regist__inputs-name1, #regist .regist__inputs-name2 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  width: 48%;
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs-name1, #regist .regist__inputs-name2 {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width:1199px) {
  #regist .regist__inputs-name1, #regist .regist__inputs-name2 {
    border: 1px solid #d7c09f;
  }
}
#regist .regist__inputs-name1:hover, #regist .regist__inputs-name2:hover {
  opacity: 0.9;
}
#regist .regist__inputs-mail1, #regist .regist__inputs-mail2, #regist .regist__inputs-intro {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px;
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs-mail1, #regist .regist__inputs-mail2, #regist .regist__inputs-intro {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width:1199px) {
  #regist .regist__inputs-mail1, #regist .regist__inputs-mail2, #regist .regist__inputs-intro {
    border: 1px solid #d7c09f;
  }
}
#regist .regist__inputs-mail1:hover, #regist .regist__inputs-mail2:hover, #regist .regist__inputs-intro:hover {
  opacity: 0.9;
}
#regist .regist__inputs-introducer {
  font-size: 12px;
  color: #677e98;
  margin: 30px 0 5px;
  font-weight: bold;
}
#regist .regist__inputs span {
  font-size: 10px;
  color: #595757;
  text-align: left;
  margin: 2px 0;
  display: block;
}
#regist .regist__inputs-checkbox {
  text-align: left;
  margin: 20px 0 10px;
}
#regist .regist__inputs-checkbox input[type=checkbox] {
  position: relative;
  top: 3px;
}
#regist .regist__inputs-checkbox label {
  font-size: 12px;
  text-align: left;
  margin: 20px 0 8px;
  user-select: none;
}
#regist .regist__inputs-checkbox p {
  font-size: 12px;
  text-align: left;
  margin: 0;
  user-select: none;
  text-indent: 25px;
}
#regist .regist__inputs-checkbox p a {
  color: #677e98;
}
#regist .regist__inputs input[type=submit] {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #79698a;
  margin: 40px auto;
}
@media only screen and (max-width:649px) {
  #regist .regist__inputs input[type=submit] {
    height: 46px;
    line-height: 46px;
  }
}
#regist .regist__inputs input[type=submit]:hover {
  background-color: #9384a2;
}
#regist .regist__inputs input[type=submit]:active {
  background-color: #60536d;
}
@media only screen and (max-width:1199px) {
  #regist .regist__inputs input[type=submit] {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #regist .regist__inputs input[type=submit] {
    width: 100%;
  }
}
#regist .regist__confirm {
  text-align: center;
  margin: 0 auto;
}
#regist .regist .disabled {
  width: 600px;
  height: auto;
  margin: 30px auto 60px;
  padding: 30px 50px;
  box-shadow: 0px 0px 10px rgba(172, 152, 78, 0.4);
  border-radius: 6px;
}
@media only screen and (max-width:649px) {
  #regist .regist .disabled {
    width: 100%;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist .disabled {
    height: auto;
  }
}
@media only screen and (max-width:768px) {
  #regist .regist .disabled {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist .disabled {
    padding: 0 2%;
  }
}
@media only screen and (max-width:649px) {
  #regist .regist .disabled {
    box-shadow: none;
  }
}
#regist .regist .btn-select-box {
  margin: 46px auto;
}
#regist .regist .btn-select-box .btn-select-submit {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #79698a;
  margin-bottom: 20px;
}
@media only screen and (max-width:649px) {
  #regist .regist .btn-select-box .btn-select-submit {
    height: 46px;
    line-height: 46px;
  }
}
#regist .regist .btn-select-box .btn-select-submit:hover {
  background-color: #9384a2;
}
#regist .regist .btn-select-box .btn-select-submit:active {
  background-color: #60536d;
}
@media only screen and (max-width:1199px) {
  #regist .regist .btn-select-box .btn-select-submit {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #regist .regist .btn-select-box .btn-select-submit {
    width: 100%;
  }
}
#regist .regist .btn-select-box .btn-select-prev {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #b0a6bb;
}
@media only screen and (max-width:649px) {
  #regist .regist .btn-select-box .btn-select-prev {
    height: 46px;
    line-height: 46px;
  }
}
#regist .regist .btn-select-box .btn-select-prev:hover {
  background-color: #cac3d1;
}
#regist .regist .btn-select-box .btn-select-prev:active {
  background-color: #9689a5;
}
@media only screen and (max-width:1199px) {
  #regist .regist .btn-select-box .btn-select-prev {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #regist .regist .btn-select-box .btn-select-prev {
    width: 100%;
  }
}
#regist .regist__welcome {
  position: relative;
  padding-top: 50px;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  font-family: "Shippori Mincho", serif;
}
@media only screen and (max-width:649px) {
  #regist .regist__welcome {
    font-weight: bold;
  }
}
#regist .regist__welcome::before {
  content: attr(data-en);
  position: absolute;
  transform: rotate(-5deg);
  top: -100px;
  left: -50;
  right: 0;
  color: #f7f0d9;
  font-size: 200px;
  font-family: "Tangerine", cursive;
  font-style: italic;
  z-index: -1;
}
@media only screen and (max-width:649px) {
  #regist .regist__welcome::before {
    font-size: 140px;
  }
}
#regist .regist__welcome-info {
  font-size: 14px;
  color: #232323;
  text-align: center;
  margin: 0 0 40px;
}
#regist .regist__welcome-info-sub {
  font-size: 12px;
  color: #c8161d;
  text-align: center;
}

#notification .notification__heading {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/common/information_bg_img.jpg);
  position: relative;
}
@media only screen and (max-width:649px) {
  #notification .notification__heading {
    height: 84px;
  }
}
#notification .notification__heading::before {
  content: "";
  width: 100%;
  height: 160px;
  background: linear-gradient(to bottom, #fff 70%, transparent);
  background: -webkit-linear-gradient(top, transparent, #fff 70%);
  background: -moz-linear-gradient(top, transparent, #fff 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media only screen and (max-width:649px) {
  #notification .notification__heading::before {
    height: 90px;
  }
}
@media only screen and (max-width:649px) {
  #notification .notification__heading::before {
    bottom: -18px;
  }
}
#notification .notification__heading-title {
  position: absolute;
  bottom: -10px;
  width: 100%;
  text-align: center;
  z-index: 2;
  color: #232323;
  font-weight: 400;
  font-family: "Shippori Mincho", serif;
  font-size: 2rem;
}
@media only screen and (max-width:649px) {
  #notification .notification__heading-title {
    font-weight: bold;
  }
}
@media only screen and (max-width:768px) {
  #notification .notification__heading-title {
    font-size: 1.5rem;
  }
}
#notification .notification__news {
  width: 960px;
  margin: 0 auto 90px;
  padding: 60px 90px;
}
@media only screen and (max-width:991px) {
  #notification .notification__news {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  #notification .notification__news {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #notification .notification__news {
    padding: 30px 2%;
  }
}
@media only screen and (max-width:649px) {
  #notification .notification__news {
    bottom: -18px;
  }
}
#notification .notification__news-lists {
  list-style: none;
  margin: 0;
  padding: 0;
}
#notification .notification__news-list {
  border-bottom: 1px solid #ddd;
}
#notification .notification__news-list a {
  display: flex;
  padding: 24px 8px;
  position: relative;
}
#notification .notification__news-list a::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2.5px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
}
#notification .notification__news-date {
  margin-right: 24px;
  line-height: 2;
  color: #677e98;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#notification .notification__news-title {
  width: calc(100% - 10rem - 24px);
  line-height: 2;
  color: #595757;
  font-size: 16px;
  margin: 0;
}
@media only screen and (max-width:649px) {
  #notification .notification__news-title {
    font-size: 14px;
    width: calc(100% - 8rem - 24px);
  }
}
#notification .detail {
  height: auto;
}
@media only screen and (max-width:649px) {
  #notification .detail {
    height: 100vh;
  }
}
#notification .detail__article {
  width: 960px;
  margin: 0 auto 90px;
  padding: 60px 90px;
}
@media only screen and (max-width:991px) {
  #notification .detail__article {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  #notification .detail__article {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #notification .detail__article {
    padding: 30px 2%;
  }
}
#notification .detail__article-image {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto 30px;
}
#notification .detail__article-image img {
  width: 100%;
  text-align: center;
}
#notification .detail__article-title {
  font-size: 1.75rem;
  height: 70px;
  line-height: 70px;
}
@media only screen and (max-width:649px) {
  #notification .detail__article-title {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
  }
}
#notification .detail__article-date {
  font-size: 14px;
  color: #677e98;
  text-align: left;
}
#notification .detail__article-contents {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  color: #595757;
}
#notification .detail__article-url {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #79698a;
}
@media only screen and (max-width:649px) {
  #notification .detail__article-url {
    height: 46px;
    line-height: 46px;
  }
}
#notification .detail__article-url:hover {
  background-color: #9384a2;
}
#notification .detail__article-url:active {
  background-color: #60536d;
}
@media only screen and (max-width:1199px) {
  #notification .detail__article-url {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #notification .detail__article-url {
    width: 100%;
  }
}

#guide .index .slick-track {
  height: 300px;
}
#guide .index .slick-slide img {
  object-fit: cover;
}
@media only screen and (max-width:1199px) {
  #guide .index .slick-track {
    height: 250px;
  }
}
@media only screen and (max-width:991px) {
  #guide .index .slick-track {
    height: 200px;
  }
}
@media only screen and (max-width:649px) {
  #guide .index .slick-track {
    height: 150px;
  }
}
#guide .index__sns {
  width: 100%;
  height: 60px;
  border-top: solid 4px #f6f1ea;
  margin-bottom: 5px;
}
#guide .index__sns-inner {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width:649px) {
  #guide .index__sns-inner {
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
  }
}
#guide .index__sns-text {
  color: #ac984e;
  font-size: 14px;
  text-align: left;
}
@media only screen and (max-width:649px) {
  #guide .index__sns-text {
    font-size: 12px;
    width: 50%;
  }
}
#guide .index__sns-info {
  display: flex;
  justify-content: space-between;
}
#guide .index__sns-info span {
  color: #ac984e;
  font-size: 14px;
  display: block;
  line-height: 35px;
  margin-right: 30px;
}
#guide .index__sns-info a {
  color: #FFF;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  text-decoration: none;
  background: #00B900;
}
@media only screen and (max-width:649px) {
  #guide .index__sns-info a {
    width: 140px;
  }
}
#guide .index__sns-info a:hover span {
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
#guide .index__sns-info a .fa-line {
  font-size: 24px;
  position: relative;
  top: 2px;
}
#guide .index__sns-info a .fa-line:before {
  content: "\f3c0";
}
#guide .index__sns-info a span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  margin-right: 0;
}
#guide .index__floorGuide {
  width: 1150px;
  margin: 0 auto 90px;
}
@media only screen and (max-width:1199px) {
  #guide .index__floorGuide {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide {
    margin: 0 auto;
  }
}
#guide .index__floorGuide-title {
  color: #232323;
  font-size: 34px;
  margin: 70px auto 30px;
  height: 150px;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-family: "Shippori Mincho", serif;
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-title {
    font-weight: bold;
  }
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide-title {
    font-size: 30px;
    margin: 40px auto 0;
  }
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-title {
    font-size: 26px;
    margin: 20px auto 0;
    height: 130px;
  }
}
#guide .index__floorGuide-title:before {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 24px;
  line-height: 34px;
  color: #595757;
  content: "Floor Guide";
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide-title:before {
    top: 64px;
  }
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-title:before {
    font-size: 20px;
    top: 58px;
  }
}
#guide .index__floorGuide-lists {
  margin: 10px 25px;
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-lists {
    margin: 0;
    padding: 0 2%;
  }
}
#guide .index__floorGuide-list:first-child {
  border-top: solid 1px #ced1d8;
}
#guide .index__floorGuide-list {
  border-bottom: solid 1px #ced1d8;
  position: relative;
}
#guide .index__floorGuide-list::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2.5px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
}
#guide .index__floorGuide-list a {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-list a {
    flex-direction: column;
  }
}
#guide .index__floorGuide-list a .list-name {
  width: 38%;
  padding: 20px;
  position: relative;
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide-list a .list-name {
    padding: 10px 2% 10px 0;
  }
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-list a .list-name {
    width: 100%;
  }
}
#guide .index__floorGuide-list a .list-name::before {
  position: absolute;
  top: -6px;
  left: -10px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 105px 0 0;
  border-color: #f6f1ea transparent transparent transparent;
  z-index: -1;
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide-list a .list-name::before {
    border-width: 100px 85px 0 0;
  }
}
#guide .index__floorGuide-list a .list-name span {
  width: 48px;
  height: 26px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}
#guide .index__floorGuide-list a .list-name .mall-color {
  background-color: #ac984e;
}
#guide .index__floorGuide-list a .list-name h2 {
  font-size: 26px;
  text-indent: 20px;
  color: #232323;
  margin-bottom: 0;
  letter-spacing: 1;
  font-weight: normal;
  margin-top: 20px;
  padding: 0;
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide-list a .list-name h2 {
    font-size: 1.4rem;
    text-indent: 10px;
  }
}
#guide .index__floorGuide-list a .list-name p {
  font-size: 12px;
  text-indent: 20px;
  color: #232323;
  margin: 0 0 30px;
}
@media only screen and (max-width:768px) {
  #guide .index__floorGuide-list a .list-name p {
    text-indent: 10px;
  }
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-list a .list-name p {
    margin-bottom: 10px;
  }
}
#guide .index__floorGuide-list .list-desc {
  width: 62%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
@media only screen and (max-width:649px) {
  #guide .index__floorGuide-list .list-desc {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 10px;
  }
}
#guide .index__floorGuide-list .list-desc p {
  font-size: 14px;
  text-align: left;
  margin: 0;
}
#guide .access__heading {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/common/kv-town.png);
  position: relative;
}
@media only screen and (max-width:649px) {
  #guide .access__heading {
    height: 84px;
  }
}
#guide .access__heading-title {
  position: absolute;
  bottom: -10px;
  width: 100%;
  text-align: center;
  z-index: 2;
  color: #232323;
  font-weight: 400;
  font-family: "Shippori Mincho", serif;
  font-size: 2rem;
}
@media only screen and (max-width:649px) {
  #guide .access__heading-title {
    font-weight: bold;
  }
}
@media only screen and (max-width:768px) {
  #guide .access__heading-title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width:649px) {
  #guide .access__heading-title {
    bottom: -18px;
  }
}
#guide .access__information {
  width: 960px;
  margin: 0 auto 90px;
  padding: 70px 90px;
}
@media only screen and (max-width:991px) {
  #guide .access__information {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  #guide .access__information {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #guide .access__information {
    padding: 30px 2%;
  }
}
#guide .access__information h2 {
  line-height: 2;
  font-size: 26px;
  color: rgb(55, 57, 65);
  background: none;
  font-weight: bold;
  margin: 90px 0 70px;
  padding-left: 0;
  position: relative;
}
@media only screen and (max-width:649px) {
  #guide .access__information h2 {
    margin: 40px 0;
  }
}
#guide .access__information h2 span {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #595757;
  position: absolute;
  bottom: -15px;
  left: 0;
}
#guide .access__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
}
@media only screen and (max-width:649px) {
  #guide .access__info {
    width: 100%;
  }
}
@media only screen and (max-width:649px) {
  #guide .access__info {
    display: block;
  }
}
#guide .access__info-text {
  width: 65%;
}
@media only screen and (max-width:649px) {
  #guide .access__info-text {
    width: 100%;
  }
}
#guide .access__info-text .icon_search {
  width: 80%;
  display: block;
  margin: 30px 0 20px;
}
@media only screen and (max-width:649px) {
  #guide .access__info-text .icon_search {
    width: 100%;
  }
}
#guide .access__info-img {
  width: 35%;
}
@media only screen and (max-width:649px) {
  #guide .access__info-img {
    width: 100%;
  }
}
@media only screen and (max-width:649px) {
  #guide .access__info-img {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}
#guide .access__info-img .icon_yumekana {
  border-radius: 20px;
  width: 100px;
}
@media only screen and (max-width:649px) {
  #guide .access__info-img .icon_yumekana {
    width: 35%;
    object-fit: contain;
    margin-top: 30px;
  }
}
#guide .access__info-img .iphon_icon {
  width: 300px;
}
@media only screen and (max-width:991px) {
  #guide .access__info-img .iphon_icon {
    width: 180px;
  }
}
@media only screen and (max-width:649px) {
  #guide .access__info-img .iphon_icon {
    width: 60%;
    object-fit: contain;
  }
}
#guide .access__iPhone ol, #guide .access__android ol {
  padding: 0 0 0 30px;
  margin: 10px 0 50px 30px;
}
@media only screen and (max-width:649px) {
  #guide .access__iPhone ol, #guide .access__android ol {
    padding: 0;
    margin: 10px 0 10px 30px;
  }
}
#guide .access__iPhone-img, #guide .access__android-img {
  width: 100%;
}
#guide .access__iPhone-img img, #guide .access__android-img img {
  width: 100%;
}
#guide .archive {
  margin: 0 auto 90px;
}
@media only screen and (max-width:768px) {
  #guide .archive {
    margin: 0 auto;
  }
}
@media only screen and (max-width:768px) {
  #guide .archive {
    margin-bottom: 30px;
  }
}
#guide .archive__heading {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/common/kv-guide.png);
  position: relative;
}
@media only screen and (max-width:649px) {
  #guide .archive__heading {
    height: 84px;
  }
}
#guide .archive__heading-title {
  position: absolute;
  bottom: -10px;
  width: 100%;
  text-align: center;
  z-index: 2;
  color: #232323;
  font-weight: 400;
  font-family: "Shippori Mincho", serif;
  font-size: 2rem;
}
@media only screen and (max-width:649px) {
  #guide .archive__heading-title {
    font-weight: bold;
  }
}
@media only screen and (max-width:768px) {
  #guide .archive__heading-title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width:649px) {
  #guide .archive__heading-title {
    bottom: -18px;
  }
}
#guide .archive__items {
  margin: 60px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  flex-wrap: wrap;
  width: 1150px;
  padding: 20px 0;
}
@media only screen and (max-width:768px) {
  #guide .archive__items {
    margin: 0 auto;
  }
}
@media only screen and (max-width:1199px) {
  #guide .archive__items {
    width: 960px;
  }
}
@media only screen and (max-width:991px) {
  #guide .archive__items {
    width: 100%;
    padding: 0 4% 30px;
  }
}
@media only screen and (max-width:768px) {
  #guide .archive__items {
    padding: 0 2% 30px;
    margin-top: 40px;
  }
}
#guide .archive__item {
  width: 32%;
  margin-bottom: 24px;
}
@media only screen and (max-width:768px) {
  #guide .archive__item {
    width: 49%;
  }
}
@media only screen and (max-width:649px) {
  #guide .archive__item {
    width: 100%;
  }
}
#guide .archive__item-title {
  font-size: 16px;
  font-weight: bold;
  padding: 18px;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  border: solid 1px #d7c09f;
  border-bottom: none;
  background-color: #f6f1ea;
}
#guide .archive__item-lists {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border: solid 1px #d7c09f;
}
#guide .archive__item-list {
  border-bottom: 1px solid #ddd;
  position: relative;
}
#guide .archive__item-list::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2.5px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
}
#guide .archive__item-list a {
  margin: 0;
  font-size: 1rem;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 20px;
  padding-right: 40px;
}
@media only screen and (max-width:649px) {
  #guide .archive__item-list a {
    padding: 18px 4%;
    padding-right: 36px;
  }
}
#guide .archive__item-list:last-child {
  border: none;
}
#guide .archive__item-comingSoon {
  margin: 0;
  font-size: 16px;
  color: #aaa;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 20px;
  padding-right: 40px;
  border: solid 1px #d7c09f;
  text-align: left;
}
@media only screen and (max-width:649px) {
  #guide .archive__item-comingSoon {
    padding: 18px 4%;
    padding-right: 36px;
  }
}
#guide .archive__contact {
  width: 100%;
  margin: 30px auto 0;
  padding: 0 20px;
}
@media only screen and (max-width:768px) {
  #guide .archive__contact {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #guide .archive__contact {
    padding: 0 2%;
  }
}
#guide .archive__contact-title {
  width: 100%;
  text-align: center;
  color: #232323;
  font-size: 1rem;
}
#guide .archive__contact-btn {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #93bace;
  margin-top: 25px;
}
@media only screen and (max-width:649px) {
  #guide .archive__contact-btn {
    height: 46px;
    line-height: 46px;
  }
}
#guide .archive__contact-btn:hover {
  background-color: #b6d0de;
}
#guide .archive__contact-btn:active {
  background-color: #70a4be;
}
@media only screen and (max-width:1199px) {
  #guide .archive__contact-btn {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #guide .archive__contact-btn {
    width: 100%;
  }
}
#guide .detail {
  height: auto;
}
@media only screen and (max-width:649px) {
  #guide .detail {
    height: 100vh;
  }
}
#guide .detail__nav {
  width: 100%;
  border-bottom: 1px solid #f6f1ea;
}
#guide .detail__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media only screen and (max-width:649px) {
  #guide .detail__nav-list {
    margin: 10px 2%;
  }
}
#guide .detail__nav-list li {
  margin-bottom: 10px;
}
#guide .detail__nav-list li a {
  margin-right: 10px;
  border: 1px solid #d7c09f;
  border-radius: 20px;
  padding: 5px 32px 5px 20px;
  display: block;
  position: relative;
}
#guide .detail__nav-list li a::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2.5px;
  border-top: 1px solid #595757;
  border-right: 1px solid #595757;
  transform: rotate(45deg);
}
@media only screen and (max-width:768px) {
  #guide .detail__nav-list li a {
    padding: 4px 24px 4px 12px;
    font-size: 12px;
    margin-right: 6px;
    font-weight: bold;
  }
  #guide .detail__nav-list li a::after {
    right: 15px;
  }
}
#guide .detail__article {
  width: 960px;
  margin: 0 auto 90px;
  padding: 60px 90px;
}
@media only screen and (max-width:991px) {
  #guide .detail__article {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  #guide .detail__article {
    margin: 0 auto;
  }
}
@media only screen and (max-width:649px) {
  #guide .detail__article {
    padding: 30px 2%;
  }
}
#guide .detail__article-image {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto 30px;
}
#guide .detail__article-image img {
  width: 100%;
  text-align: center;
}
#guide .detail__article-title {
  font-size: 1.75rem;
  height: 70px;
  line-height: 70px;
}
@media only screen and (max-width:649px) {
  #guide .detail__article-title {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
  }
}
#guide .detail__article-date {
  font-size: 14px;
  color: #677e98;
  text-align: left;
  margin-bottom: 30px;
}
#guide .detail__article-contents {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  color: #595757;
}
#guide .detail__article-url {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 10px;
  padding: 0;
  font-weight: normal;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border: none;
  filter: drop-shadow(0px 3px 2px rgba(98, 125, 130, 0.4));
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background: url(/img/common/arrow.png) no-repeat 20px center;
  background-color: #79698a;
}
@media only screen and (max-width:649px) {
  #guide .detail__article-url {
    height: 46px;
    line-height: 46px;
  }
}
#guide .detail__article-url:hover {
  background-color: #9384a2;
}
#guide .detail__article-url:active {
  background-color: #60536d;
}
@media only screen and (max-width:1199px) {
  #guide .detail__article-url {
    width: 350px;
  }
}
@media only screen and (max-width:991px) {
  #guide .detail__article-url {
    width: 100%;
  }
}

.mt0px {
  margin-top: 0px;
}

.mb0px {
  margin-bottom: 0px;
}

.pt0px {
  padding-top: 0px;
}

.pb0px {
  padding-bottom: 0px;
}

.mt10px {
  margin-top: 10px;
}

.mb10px {
  margin-bottom: 10px;
}

.pt10px {
  padding-top: 10px;
}

.pb10px {
  padding-bottom: 10px;
}

.mt20px {
  margin-top: 20px;
}

.mb20px {
  margin-bottom: 20px;
}

.pt20px {
  padding-top: 20px;
}

.pb20px {
  padding-bottom: 20px;
}

.mt30px {
  margin-top: 30px;
}

.mb30px {
  margin-bottom: 30px;
}

.pt30px {
  padding-top: 30px;
}

.pb30px {
  padding-bottom: 30px;
}

.mt40px {
  margin-top: 40px;
}

.mb40px {
  margin-bottom: 40px;
}

.pt40px {
  padding-top: 40px;
}

.pb40px {
  padding-bottom: 40px;
}

.mt50px {
  margin-top: 50px;
}

.mb50px {
  margin-bottom: 50px;
}

.pt50px {
  padding-top: 50px;
}

.pb50px {
  padding-bottom: 50px;
}

.bold {
  font-weight: bold;
}

.dot-typing {
  width: 2px;
  height: 2px;
  border-radius: 5px;
  margin-left: -1px;
  display: inline-block;
  background-color: transparent;
  color: #c8161d;
  box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  -webkit-animation: dot-typing 1.2s infinite linear;
  animation: dot-typing 1.2s infinite linear;
}

@-webkit-keyframes dot-typing {
  0% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  40% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  50% {
    box-shadow: 4px -5px 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  60% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  70% {
    box-shadow: 4px 0 0 0 #c8161d, 10px -5px 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  80% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  90% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px -5px 0 0 #c8161d;
  }
  100% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
}
@keyframes dot-typing {
  0% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  70% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  75% {
    box-shadow: 4px -5px 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  80% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  85% {
    box-shadow: 4px 0 0 0 #c8161d, 10px -5px 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  90% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
  95% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px -5px 0 0 #c8161d;
  }
  100% {
    box-shadow: 4px 0 0 0 #c8161d, 10px 0 0 0 #c8161d, 16px 0 0 0 #c8161d;
  }
}