.login {
    @include contentsWidth(600px);
    height: auto;
    @include baseMargin;
    @include boxShadow(#ac984e, .4);
    border-radius: $border-radius-l;
    padding: 60px 50px;
    @include backGroundColor(#fff, 1);

    @include media ("sp-s") {
        padding: 40px 4% 0;
        height: 100vh;
      }

    &__heading {
        text-align: center;
            font-size: $M-font-size;
            letter-spacing: 2;
            margin: 0 auto;
            color: $primary-color;

            &-logo {
                font-size: 40px;
                @include googleFont-Fredericka;
                display: inline-block;
                padding-bottom: 14px;
                color: $primary-color;
            }
    }

    &__inputs {
        @include contentsWidth(350px);
        margin: 0 auto;

        form {
            margin: 0;
            width: 100%;
        }

        &-mail {
            margin: 30px auto 0;
            width: 100%;

            .input-title {
                font-size: 12px;
                color: $info-color;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input[type="text"] {
                @include input-text;
            }
        }

        &-password {
            margin: 20px auto 0;
            width: 100%;

            .input-password {
                font-size: 12px;
                color: $info-color;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input[type="password"] {
                @include input-text;
            }

            .input-recovery {
                font-size: 12px;
                color: $info-color;
                margin-bottom: 5px;

                a {
                    font-size: 10px;
                }
            }
        }

        &-login {
            margin: 30px auto 0;
            width: 100%;

            input[type="submit"] {
                @include submit-button($login-btn-color, #fff);
            }

            .input-keep {
                font-size: 14px;
                color: $secondary-color;

                input[type="checkbox"] {
                margin-right: 8px;
                }

                p.login_keep label {
                    font-size: 12px;
                    position: relative;
                    top: -2px;
                }
            }

            .input-recovery {
                font-size: 12px;
                color: $info-color;
                margin-bottom: 5px;

                a {
                    font-size: 10px;
                }
            }
        }
    }

    &__links {
        margin-top: 50px;

        .is-member {
        font-size: 13px;
        color: $secondary-color;
        width: 100%;
        text-align: center;
        }

        a {
            display: block;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            color: $info-color;
        }
    }

}